# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Build outputs
client/dist/
server/dist/
client/.next/
server/.next/
client/.vercel/
server/.vercel/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
client/.vscode/
server/.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
info.text